body {
   background-image: url("./src/img/fundo.jpeg");
   background-size: cover;
   background-position-y: -200px;
}
.geral {
   background-color: #fff;
   margin-left: auto;
   margin-right: auto;
   width: 400px;
   padding: 20px 30px;
   margin-top: 10vh;
   border-radius: 10px;
   text-align: center;
}
* {
   padding: 0;
   box-sizing: border-box;
   font-family: Helvetica;
   color: #323232;
   border: none;
}
